<html>
    <head>
        <title>WoWatch</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    </head>
    <body class="min-vh-100 d-flex flex-column">
        <!-- Header -->
        <%- include('parts/header', {activePage: 'home'})  %>
        
            <!-- Content -->
        <!-- Headtext with img -->
        <div class="container-fluid p-0" style="position: relative; overflow: hidden; height: 120px; border-bottom: 7px solid white;">
            <div class="home-content-img"></div>
            <div class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
                <h1 class="text-white fw-bold d-none d-lg-block">Servers we currently watching</h1>
                <h4 class="text-white fw-bold d-block d-lg-none">Servers we currently watching</h1>
            </div>
        </div>

        <!-- Server list -->
        <div class="container mt-4 d-flex flex-row flex-wrap justify-content-center">
            <% servers.forEach((server) => { %>
                <div class="card m-3" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= server.dataValues.name %></h5>
                        <h6 class="card-subtitle"><a href="#" class="text-secondary text-decoration-none"><%= server.dataValues.address %></a></h6>
                        <a href="/stat/<%= server.dataValues.id %>" class="btn btn-primary mt-3">View statistics</a>
                    </div>
                </div>
            <% }) %>
        </div>

        <!-- Footer -->
        <%- include('parts/footer')  %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>