<html>
    <head>
        <title>WoWatch</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.2/chart.umd.js" integrity="sha512-KIq/d78rZMlPa/mMe2W/QkRgg+l0/GAAu4mGBacU0OQyPV/7EPoGQChDb269GigVoPQit5CqbNRFbgTjXHHrQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/img/favicon.svg">
    </head>
    <body class="min-vh-100 d-flex flex-column">
        <!-- Header -->
        <%- include('parts/header', {activePage: 'none'})  %>
        
        <!-- Content -->
        <div class="container-fluid p-0">
            <div class="row m-0">
                <!-- Filter options -->
                <div class="col-lg-2 col-12 py-4">
                    <h4 class="text-center mb-4">Period</h4>
                    <form action="" method="get">
                        <input name="dateRange" type="datetime" name="" class="form-control mb-3 text-center" id="periodPicker" style="font-size: 9px;">
                        <button class="btn btn-primary w-100" type="submit">Apply</button>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="text-end mb-2 text-end mb-2 d-flex align-items-center justify-content-end">
                                <span class="me-1">Server time:</span>
                                <span class="badge bg-primary"><%= server.time %></span>
                            </p>
                            <% if (collectorStatus.status == 'up') { %>
                                <p class="text-end mb-2 text-end mb-2 d-flex align-items-center justify-content-end">
                                    <span class="me-1">Data collection status:</span>
                                    <span class="badge bg-success"
                                            data-bs-toggle="tooltip"
                                            data-bs-html="true"
                                            data-bs-title="The data is being collected"
                                            data-bs-placement="right">Running</span>
                                </p>
                            <% } else if (collectorStatus.status == 'down') { %>
                                <p class="text-end mb-2 d-flex align-items-center justify-content-end">
                                    <span class="me-1">Data collection status:</span>
                                    <span class="badge bg-secondary"
                                            data-bs-toggle="tooltip"
                                            data-bs-html="true"
                                            data-bs-title="The collector module is currenly disabled for this server for come reason"
                                            data-bs-placement="right">Stopped</span>
                                </p>
                            <% } else { %>
                                <p class="text-end mb-2 text-end mb-2 d-flex align-items-center justify-content-end">
                                    <span class="me-1">Data collection status:</span>
                                    <span class="badge bg-danger"
                                            data-bs-toggle="tooltip"
                                            data-bs-html="true"
                                            data-bs-title="The collector module is shut down"
                                            data-bs-placement="right">Down</span>
                                </p>
                            <% } %>
                        </div>
                    </div>
                </div>

                <!-- Chart -->
                <div class="col-lg-10 col-12 px-lg-5 px-0 py-2">
                    <h3 class="text-center"><%= server.name %></h3>
                    <canvas id="mainCanvas"></canvas>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('parts/footer')  %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            if ('<%- records.minDate %>' != '' && '<%- records.maxDate %>' != '') {
                let datePicker = flatpickr('#periodPicker', {
                enableTime: true,
                time_24hr: true,
                mode: 'range',
                dateFormat: 'd.m.Y H:i',
                minDate: new Date('<%- records.minDate %>'),
                maxDate: new Date('<%- records.maxDate %>'),
                })
                document.querySelector('#periodPicker').value = '<%= currentPeriod %>'
            }

            new Chart(document.querySelector('#mainCanvas'), {
                type: 'line',
                data: {
                    labels: JSON.parse('<%- records.labels %>'),
                    datasets: [
                        {
                            label: 'players online',
                            data: JSON.parse('<%= records.values %>'),
                            backgroundColor: 'rgba(13, 110, 253, 0.5)',
                            borderColor: '#0d6efd',
                            fill: true,
                            tension: 0.2
                        }
                    ]
                }
            })
        </script>
    </body>
</html>